<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">


<head>
    <meta charset="UTF-8">
    <title>Personal Infromation</title>
    <link rel="stylesheet" href="./page3.css">
    <style>
            table,
        th,
        td {
            border: 1px solid black;
    </style>
</head>

<body>
    <div calss="personal-infromation">
        <h3> صفحه اطلاعات شخصی</h3>
        <table style="width:100%">
            <tr>
                <th> مشحصات دانشجو</th>
            </tr>
            <tr>
                <th>تصویر:</th>
                <td><img src="./pic1.jpg" alt="عکس کاربر" width="150"></td>
                <th> شماره دانشجویی:</th>
                <td>11139604643</td>
            </tr>
    </div>
    <div calss="table-of-information">
        <tr>
            <th>نام خانوادگی:</th>
            <td> خاوری </td>
            <th>کد ملی:</th>
            <td>0000000000</td>
        </tr>
        <tr>
            <th>نام:</th>
            <td>حسن</td>
            <th>نام پدر:</th>
            <td>داود</td>
        </tr>
        <tr>
            <th>شماره پاسپورت:</th>
            <td>145879</td>
            <th>کد دوم:</th>
            <td>478965</td>
        </tr>
        <tr>
            <th>رشته:</th>
            <td>مهندسی کامپیوتر</td>
            <th>تاریخ تولد:</th>
            <td>1375/11/05</td>
        </tr>
        <tr>
            <th>مقطع:</th>
            <td> کارشناسی پیوسته</td>
            <th>جنسیت:</th>
            <td>مرد</td>
        </tr>
        <tr>
            <th>نوع نظام اموزشی:</th>
            <td>-</td>
            <th>تاهل:</th>
            <td>مجرد</td>
        </tr>
        <tr>
            <th>نیمسال ورود:</th>
            <td>3961</td>
            <th>وضعیت نظام وظیفه:</th>
            <td>اتباع خارجی</td>
        </tr>
        <tr>
            <th>نوع پذیرش:</th>
            <td>بدون ازمون</td>
            <th>شیوه اموزش:</th>
            <td>تمام وقت</td>
        </tr>
        <tr>
            <th>سهمیه قبولی:</th>
            <td>ازاد</td>
            <th>نوع تعهد:</th>
            <td></td>
        </tr>
        <tr>
            <th>دانشکده/گروه:</th>
            <td>مشهد(111) / کامپیوتر و فناوری اطلاعات (5111130)</td>
            <th>محل صدور:</th>
            <td></td>
        </tr>
        <tr>
            <th>دین:</th>
            <td>مسلمان</td>
            <th>وضعیت جسمانی:</th>
            <td></td>
        </tr>
        <tr>
            <th>مذهب:</th>
            <td>تشیع</td>
            <th>اخرین وضعیت تحصیلات در کارنامه:</th>
            <td>ثبت معتبر حذف و اضافه توسط دانشجو</td>
        </tr>
        <tr>
            <th>بومی/ غیربومی:</th>
            <td>بومی</td>
            <th>وضعیت تحصیلی</th>
            <td>OK</td>
        </tr>
        <tr>
            <th>نام خانوادگی لاتین:</th>
            <td>Khavary</td>
            <th>نام لاتین:</th>
            <td>Hassan</td>
        </tr>


        </table>

    </div>
</body>

</html>
